iron-ajax(auto, url='/api/filers', handle-as='json',
    last-response='{{filers}}', on-error='onHasFilersError', loading='{{filersLoading}}')
iron-ajax(auto, url='/api/get-filer/[[namespace]]', handle-as='json',
    last-response='{{userFilers}}', on-error='onHasFilersError', loading='{{userFilersLoading}}')
iron-ajax#CreateFilerAjax(method='POST', url='/api/create-filer/[[namespace]]',
    on-response='handleUpdateFilers', on-error='handleUpdateFilers', handle-as='json', content-type='application/json')
iron-ajax#UpdateFilerAjax(method='PATCH', url='/api/update-filer/[[namespace]]',
    on-response='handleUpdateFilers', on-error='handleUpdateFilers', handle-as='json', content-type='application/json')
iron-ajax#DeleteFilerAjax(method='DELETE', url='/api/delete-filer/[[namespace]]',
    on-response='handleUpdateFilers', on-error='handleUpdateFilers')
h1 {{localize('manageFilersView.lblManageFilers')}}
section#Main-Content
    article.Filers
        h2
            iron-icon.icon(icon='kubeflow:namespace')
            span.text {{localize('manageFilersView.lblFilers')}}
        .content.small
            template(is='dom-if', if="[[isLoading(filersLoading, userFilersLoading)]]")
                paper-spinner-lite(active)
            div
                table#filersTable
                    template(is='dom-repeat', items='[[formatUserFilers(userFilers)]]')
                        tr 
                            td {{item}}
                            td
                                button(type="button", on-click="deleteFilerShare") {{localize('manageFilersView.btnDelete')}}
            div
                h2 {{localize('manageFilersView.headerAddFiler')}}
                form#filersForm
                    div.formInputDiv
                        label(for="filersSelect") {{localize('manageFilersView.lblFiler')}}
                        span 
                            select#filersSelect(name="filersSelect", on-change="onChangeFilers", value="", required)
                                option(value="") {{localize('manageFilersView.optionFiler')}}
                                template(is='dom-repeat', items='{{filers}}')
                                    option(value="{{item.vserver}}") {{item.name}}
                    div.formInputDiv
                        label(for="sharesInput" style="float: left") {{localize('manageFilersView.lblShare')}}
                        span
                            input#sharesInput(name="sharesInput", disabled="[[!filersFormValue]]", value="", placeholder="{{localize('manageFilersView.placeholderShare')}}")
                    aside.Error {{validateError}}

                    template(is='dom-if', if="[[filers]]")
                        button#filersSubmit(type="button", on-click="updateFilers") {{localize('manageFilersView.btnSubmit')}}

    paper-toast#FilersErrorToast(duration=8000, horizontal-align="center")
        strong [[errorText]]
    paper-toast#FilersSuccessToast(duration=8000, horizontal-align="center")
        strong [[responseText]]